<footer class="site-footer h-card">
  <data class="u-url" href="{{ site.baseurl }}/"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">

      <!-- <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">{{ site.title }}</li>
          <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div> -->

      <div class="footer-col footer-col-3">
        <ul class="social-media-list">
          <li><a href="https://www.instagram.com/{{ site.instagram_handle }}" target="_blank"><svg class="svg-icon">
                <use xlink:href="{{ site.baseurl }}/assets/minima-social-icons.svg#instagram"></use>
              </svg> <span class="username">{{ site.instagram_handle }}</span></a></li>
          <li><a href="https://www.facebook.com/{{ site.facebook_handle }}"><svg class="svg-icon">
                <use xlink:href="{{ site.baseurl }}/assets/minima-social-icons.svg#facebook"></use>
              </svg> <span class="username">{{ site.facebook_handle }}</span></a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>